:root {
    --secondary-color: #142D56;
    --primary-color: #1B151E;
    --tertiary-color: #AC0540;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body, html {
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color);
}

main {
    width: 95%;
    height: 95%;
    background: var(--secondary-color);
}

.library {
    display: grid;
    grid-template-columns: 18em 18em 18em 18em;
    grid-template-rows: auto;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    justify-content: center;

}

.card {
    height: 100%;
    display: flex;
    width: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: stretch;
    background: #0d0d0d;
    color: white;
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 2px 2px 5px black;
    -moz-box-shadow: 2px 2px 5px black;
    -webkit-box-shadow: 2px 2px 5px black;
}

.card-title {
    width: 100%;
    font-size: 75%;
    text-align: center;
}

.card-body {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;;
}

.card-image {
    width: 100%;
    height: 100%;
    border-radius: 0.5em
}

