
@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BebasNeue.otf');
}

:root {
    --primary: #142D56;
    --secondary:  #1B151E;
    --tertiary: #95033B;
    --black: #0D0D0D;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Bebas', sans-serif;
}

body,
html {
	overflow-x: hidden;
}

body {
	width: 100vw;
	min-height: 100vh;
	background: var(--primary);
	position: relative;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

h1 {
	color: #846bc2;
	font-size: 80px;
    	width: 100vw;
    	height: 100vh;
 	background: var(--secondary);
    	position: relative;
}

header p {
	font-size: 45px;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
}

.top {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
    	height: 50vh;
	display: flex;
    	justify-content: flex-start;
    	background: var(--primary);
    	overflow: hidden;
}

.top header {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 4rem;
	color: white;
	padding: 0.5em;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.top header .header-text {
    display: flex;
    flex-direction: column;
}

.top header .call-to-action {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.top header .call-to-action * {
    margin: 0.5em;
}

.right {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.logo {
    width: 400px;
}

.btn {
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
}

.primary {
    	background: var(--tertiary);
    	border-radius: 0.5em;
    	width: 400px;
	font-family: 'Bebas', sans-serif;
    	text-transform: capitalize;
	font-size: 3rem;
	display: block;
	text-align: center;
	    color: white;
}

.secondary {
    background: white;
    width: 400px;
    border-radius: 0.5em;
    color: var(--tertiary);
    font-family: 'Bebas', sans-serif;
    text-transform: capitalize;
    font-size: 3rem;
    display: block;
    text-align: center;
}

.bottom {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
}

.features h3 {
	font-size: 35px;
	font-weight: 400;
    font-size: 3rem;
    margin-top: 0.2em;
}

.features hr {
	margin: 0 auto;
	width: 50px;
	height: 4px;
	background: white;
	border: none;
	margin-top: 10px;
}

.feature-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0.5em;
	padding: 0.5em;
	font-size: 2rem;
}

.card {
	width: 300px;
	height: 200px;
	text-align: center;
	margin: 0.5em;
	color: white;
	padding: 0.5em;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card h4 {
	font-size: 30px;
	font-weight: 400;
}
.card p {
	font-size: 20px;
	margin-top: 20px;
}

/* Some responsive thingies */

@media only screen and (max-width: 1010px) {
	.feature-section {
		flex-flow: column;
		align-items: center;
	}
}
@media only screen and (max-width: 760px) {
	h1 {
		font-size: 70px;
	}

	header p {
		font-size: 31px;
	}

	.main-buttons {
		flex-flow: column;
		width: 100%;
		align-items: center;
	}
	.main-buttons .btn {
		width: 100%;
	}
	.github {
		margin: 0;
		margin-top: 10px;
	}
}
@media only screen and (max-width: 500px) {
	header p {
		font-size: 25px;
	}
}
@media only screen and (max-width: 435px) {
	h1 {
		font-size: 45px;
		margin-top: 15px;
	}

	header p {
		font-size: 20px;
	}

	.main-buttons .btn {
		width: 90%;
		font-size: 25px;
		height: 60px;
	}
	.github {
		margin: 0;
		margin-top: 10px;
	}
.card i {
    font-size: 5.8rem;
}
